header {
    background-color: #9b1d0c;
    color: #E8FDFF;
    font-family: 'Niramit', sans-serif;
    padding-left: 20px;
    transition: color 0.5s;
}

header:hover{
    color: #59503a;
}

body {
    background-color: whitesmoke;
    font-family: 'Niramit', sans-serif;
}

main {
    background-color: #ead9af;
    padding:16px;
}

.finstagram-post {
    padding-bottom: 40px;
}

.finstagram-post.user-info img {
    border-radius: 45px;
}

.photo{
    transition: padding 0.5s
}
.photo:hover{
    padding: 10px;
}

